[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
itsdangerous = "*"
Flask = "*"
WTForms = "*"
Flask-WTF = "*"
Werkzeug = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
