{% extends "base.html" %}

{% block title %} About {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block nohome %}<div class="p-2 bd-highlight">{% endblock %}

{% block nohome2 %}</div>{% endblock %}

{% block main %}
 <div class="p-2 bd-highlight">
       <div class="vectorial">
        <h5>Contact</h5>
        <p><i class='fab fa-discord' style='font-size:24px;color:#6600ff;'></i><b>Discord:</b> <span class="disc">Daedalus#0225</span></p>
      

               

       </div>
        
          

   
</div>

{% endblock %}